<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm sticky-top">
  <div class="container">
    <a class="navbar-brand d-flex align-items-center gap-2" href="/">
      <img src="/assets/img/logo.svg" alt="Girls Tech Club logo" class="navbar-logo" />
      <span class="fw-bold text-primary">Girls Tech Club</span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mainNavbar">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link" href="/" data-page="home">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="/about/" data-page="about">About</a></li>
        <li class="nav-item"><a class="nav-link" href="/programs/" data-page="programs">Programs</a></li>
        <li class="nav-item"><a class="nav-link" href="/events/" data-page="events">Events</a></li>
        <!-- <li class="nav-item"><a class="nav-link" href="/blog/" data-page="blog">Blog</a></li> -->
        <li class="nav-item"><a class="nav-link" href="/get-involved/" data-page="get-involved">Get Involved</a></li>
        <li class="nav-item"><a class="nav-link" href="/contact/" data-page="contact">Contact</a></li>
        <li class="nav-item ms-lg-3"><a class="btn btn-primary" href="/donate/">Donate</a></li>
      </ul>
    </div>
  </div>
</nav>